<!DOCTYPE html>
<html lang="ru">

<head>
  <title>Name</title>
  <link rel="stylesheet" href="app.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div>
    <div class="app">
      <div class="listing-block">
        <p>Listing:</p>
        <select size="10" class="listing-select">
        <% listingItems.forEach(function(item) { %>
          <option><%-item%></option>
        <% }); %>
      </select>
      </div>

      <div class="store-block">
        <p>Store:</p>
        <select size="10" class="store-select">
        <% storeItems.forEach(function(item) { %>
          <option><%-item%></option>
        <% }); %>
      </select>
      </div>
    </div>

    <button type="button" id="add-button">
    Add to store
    </button>
    <button type="button" class="remove-element">
      Remove element
      </button>
    <button type="button" class="clear-all">
      Clear all
    </button>
    <button type="button" class="add-listing-button">
      Add to listing
    </button>
    <button type="button" class="sort-store">
        Sorting
    </button>
  </div>
  <script src="app.min.js"></script>
</body>

</html>